---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TittleSection from "@/components/TittleSection.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Projects from "@/components/Projects.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import AboutMe from "@/components/AboutMe.astro";
import StackTechs from "@/components/StackTechs.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
---

<Layout title="JayGhz" description="Conoce el portfolio de JayGhz">
	<main class="px-4">
		<SectionContainer class="py-14 md:mt-24 md:mb-6">
			<Hero />
		</SectionContainer>
		<div class="space-y-24">

			<SectionContainer id="stack">
				<TittleSection>
					<Briefcase class="size-8" />
					Stack Tecnológico
				</TittleSection>
				<StackTechs />
			</SectionContainer>

			<SectionContainer id="proyectos">
				<TittleSection>
					<CodeIcon class="size-8" />
					Proyectos
				</TittleSection>
				<Projects />
			</SectionContainer>

			<SectionContainer id="sobre-mi">
				<TittleSection>
					<ProfileCheck class="size-8" />
					Sobre mí
				</TittleSection>
				<AboutMe />
			</SectionContainer>
		</div>
	</main>
</Layout>
